<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studio.uphie.zhihudaily">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ImgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PreferenceActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"/>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56cfb4d567e58ed15c001c1d" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Uphie" />
    </application>

</manifest>
